@use '../../scss/theme/theme';
@use '../../scss/theme/typography';

.attribution {
  text-align: center;
}

.attribution__content {
  display: flex;
  flex-direction: column;
}

.attribution__content--fm,
.attribution__content--ortiz {
  color: theme.color('primary');
}
