<div class="attribution">
  <p class="attribution__content">
    <span
      >Challenge by
      <a
        class="attribution__content--fm"
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank"
        >Frontend Mentor.</a
      >
    </span>
    <span>
      Coded by
      <a class="attribution__content--ortiz" href="https://ortiz.studio"
        >Antonio Ortiz</a
      >
    </span>
  </p>
</div>
