@font-face {
  font-family: Inter, sans-serif;
  font-display: swap;
  src: url(Inter-VariableFont_slnt,wght.ttf);
}
*,
:before,
:after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
@font-face {
  font-family: Inter, sans-serif;
  font-display: swap;
  src: url(Inter-VariableFont_slnt,wght.ttf);
}
.social__header--name {
  letter-spacing: 0;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.5;
}
.social__header--quote {
  letter-spacing: 0;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5;
}
.social__links--list-item--link,
.social__header--location {
  letter-spacing: 0;
  font-size: 0.875em;
  font-weight: 700;
  line-height: 1.5;
}
.social {
  background-color: #1f1f1f;
  border: 0 solid #1f1f1f;
  border-radius: 12px;
  inline-size: 100%;
  max-inline-size: 20.4375em;
  padding: 1.5rem;
}
.social__avatar {
  border-radius: 50%;
  max-inline-size: 5.5em;
  margin: 0 auto;
}
.social__header {
  text-align: center;
  margin-block-start: 1.5rem;
}
.social__header--location {
  color: #c5f82a;
  margin-block-end: 1.5rem;
}
.social__links {
  width: 100%;
  margin-block-start: 1rem;
}
.social__links--list {
  text-indent: 0;
  padding: 0;
  list-style-type: none;
}
.social__links--list-item--link {
  color: #fff;
  text-align: center;
  background-color: #333;
  border-radius: 8px;
  margin: 1rem;
  padding: 0.75em;
  text-decoration: none;
  display: block;
}
.social__links--list-item--link:is(:hover, :focus) {
  color: #141414;
  cursor: pointer;
  background-color: #c5f82a;
}
.footer {
  margin-top: 1.5rem;
  position: relative;
}
.attribution {
  margin-inline: 1.5rem;
}
.attribution__content {
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
  display: flex;
}
.attribution__content--fm,
.attribution__content--ortiz {
  color: #c5f82a;
}
@media screen and (width>=37.5em) {
  .social {
    max-inline-size: 24em;
    padding: 2.5rem;
  }
}
@media screen and (orientation: portrait) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
  }
}
@media screen and (width>=960px) {
  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    display: flex;
  }
}
main {
  flex-direction: column;
  align-items: center;
  display: flex;
}
body {
  color: #fff;
  background-color: #141414;
  font-family: Inter, system-ui;
}
main {
  inline-size: 100%;
}
