---
layout: base.njk
title: Social Links Profile
---

{% import "social-links-profile/social-links-profile.njk" as macro %}

{{ 
    macro.socialLinksProfile({
        img: "./assets/images/avatar-jessica.jpeg",
        name: "Jessica Randall",
        location: "London, United Kingdom",
        quote: "Front-end developer and avid reader.",
        links: {
            github: "#",
            frontendMentor: "#",
            linkedIn: "#",
            twitter: "#",
            instagram: "#"
        }
    }) 
}}