@use "sass:map";
@use "../utils/functions";
@use "../utils/variables";

$settings: (
  "title": (
    font-size: #{var(--title-font-size)},
    weight: #{var(--title-weight)},
    line-height: #{var(--title-line-height)},
    letter-spacing: #{var(--title-letter-spacing)},
  ),
  "body": (
    font-size: #{var(--body-font-size)},
    weight: #{var(--body-weight)},
    line-height: #{var(--body-line-height)},
    letter-spacing: #{var(--body-letter-spacing)},
  ),
  "tag": (
    font-size: #{var(--tag-font-size)},
    weight: #{var(--tag-weight)},
    line-height: #{var(--tag-line-height)},
    letter-spacing: #{var(--tag-letter-spacing)},
  ),
  "tag-bold": (
    font-size: #{var(--tag-b-font-size)},
    weight: #{var(--tag-b-weight)},
    line-height: #{var(--tag-b-line-height)},
    letter-spacing: #{var(--tag-b-letter-spacing)},
  ),
  "author": (
    font-size: #{var(--author-font-size)},
    weight: #{var(--author-weight)},
    line-height: #{var(--author-line-height)},
    letter-spacing: #{var(--author-letter-spacing)},
  ),
);

@function get-setting($property, $size) {
  $map: map.get($settings, $size);

  @return map.get($map, $property);
}

@mixin size($size) {
  font-size: get-setting("font-size", $size);
  font-weight: get-setting("weight", $size);
  line-height: get-setting("line-height", $size);
  letter-spacing: get-setting("letter-spacing", $size);
}
