@use "../../scss/utils/variables";
@use "../../scss/theme/theme";
@use "../../scss/theme/typography";
@use "../../scss/utils/functions";

.social {
  inline-size: clamp(
    327px,
    calc(20.4375rem + (384 - 327) * ((100vw - 499.9px) / (500 - 499.9))),
    384px
  );
  padding: clamp(
    24px,
    calc(1.5rem + (40 - 24) * ((100vw - 499.9px) / (500 - 499.9))),
    40px
  );
  background-color: #{theme.color("background")};
  border: 0 solid #{theme.color("background")};
  border-radius: variables.$radius-m;
}

.social__avatar {
  max-inline-size: #{functions.px-to-rem(88px)};
  border-radius: 50%;
  margin: 0 auto;
}

.social__header {
  margin-block-start: variables.$space-24;
  text-align: center;
}

.social__header--name {
  @include typography.size("title");
}

.social__header--location {
  color: #{theme.color("accent")};

  @include typography.size("body-bold");

  margin-block-end: variables.$space-24;
}

.social__header--quote {
  @include typography.size("body");
}

.social__links {
  width: 100%;
  margin-block-start: variables.$space-16;
}

.social__links--link {
  display: block;
  margin: variables.$space-16;
  padding: 0.75em;
  color: #{theme.color("primary")};

  @include typography.size("body-bold");

  text-align: center;
  text-decoration: none;
  background-color: #{theme.color("background-accent")};
  border-radius: variables.$radius-s;

  &:is(:hover, :focus) {
    color: #{theme.color("background")};
    background-color: #{theme.color("accent")};
    cursor: pointer;
  }
}
