@use "../../scss/utils/variables";
@use "../../scss/theme/theme";
@use "../../scss/theme/typography";
@use "../../scss/utils/functions";

.social {
  inline-size: clamp(
    #{variables.$container-mobile},
    calc(
      #{variables.$container-mobile} + (
          #{variables.$container-desktop-unitless} - #{variables.$container-mobile-unitless}
        ) * max(0, ((100vw - #{variables.$container-breakpoint}) / (0.1)))
    ),
    #{variables.$container-desktop}
  );
  padding: clamp(
    #{variables.$container-mobile-padding},
    calc(
      #{variables.$container-mobile-padding} + (
          #{variables.$container-desktop-unitless} - #{variables.$container-mobile-unitless}
        ) * ((100vw - #{variables.$container-breakpoint}) / (0.1))
    ),
    #{variables.$container-desktop-padding}
  );
  background-color: #{theme.color("background")};
  border: 0 solid #{theme.color("background")};
  border-radius: variables.$radius-m;
  text-align: center;
}

.social__avatar {
  max-inline-size: #{functions.px-to-rem(88px)};
  border-radius: 50%;
  margin: 0 auto;
}

.social--name {
  margin-block-start: #{var(--space-m)};

  @include typography.size("title");
}

.social--location {
  color: #{theme.color("accent")};

  @include typography.size("body-bold");

  margin-block-end: #{var(--space-m)};
}

.social--quote {
  @include typography.size("body");
}

.social__links {
  width: 100%;
  margin-block-start: #{var(--space-s)};
}

.social__links--link {
  display: block;
  margin-block: #{var(--space-s)};
  padding: 0.75em;
  color: #{theme.color("primary")};

  @include typography.size("body-bold");

  text-decoration: none;
  background-color: #{theme.color("background-accent")};
  border-radius: variables.$radius-s;

  &:is(:hover, :focus) {
    color: #{theme.color("background")};
    background-color: #{theme.color("accent")};
    cursor: pointer;
  }
}
