:root {
  --space-24: 1.5rem;
  --space-16: 1rem;
  --font-family: inter, system-ui;
  --primary: hsl(0, 0%, 100%);
  --accent: hsl(75, 94%, 57%);
  --background-accent: hsl(0, 0%, 20%);
  --background: hsl(0, 0%, 12%);
  --background-page: hsl(0, 0%, 8%);
  --title-font-size: 1.5rem;
  --title-weight: 600;
  --title-line-height: 1.5;
  --title-letter-spacing: 0;
  --body-font-size: 0.875rem;
  --body-weight: 400;
  --body-line-height: 1.5;
  --body-letter-spacing: 0;
  --body-bold-weight: 700;
}

.social {
  inline-size: clamp(327px, 20.4375rem + 57 * (100vw - 499.9px) / 0.1, 384px);
  padding: clamp(24px, 1.5rem + 16 * (100vw - 499.9px) / 0.1, 40px);
  background-color: var(--background);
  border: 0 solid var(--background);
  border-radius: 12px;
}

.social__avatar {
  max-inline-size: 5.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.social__header {
  margin-block-start: 1.5rem;
  text-align: center;
}

.social__header--name {
  font-size: var(--title-font-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
}

.social__header--location {
  color: var(--accent);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  margin-block-end: 1.5rem;
}

.social__header--quote {
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.social__links {
  width: 100%;
  margin-block-start: 1rem;
}

.social__links--link {
  display: block;
  margin: 1rem;
  padding: 0.75em;
  color: var(--primary);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  text-align: center;
  text-decoration: none;
  background-color: var(--background-accent);
  border-radius: 8px;
}
.social__links--link:is(:hover, :focus) {
  color: var(--background);
  background-color: var(--accent);
  cursor: pointer;
}
