@font-face {
  font-family: Inter, sans-serif;
  font-display: swap;
  src: url(Inter-VariableFont_slnt,wght.ttf);
}
*,
:before,
:after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
@font-face {
  font-family: Inter, sans-serif;
  font-display: swap;
  src: url(Inter-VariableFont_slnt,wght.ttf);
}
.social {
  background-color: #1f1f1f;
  border: 1px solid #1f1f1f;
  border-radius: 20px;
  inline-size: 100%;
  max-inline-size: 21.875em;
  padding: 1rem;
}
.social__avatar {
  margin-block-end: 1rem;
  border-radius: 50%;
  max-inline-size: 4.375em;
  margin: 0 auto;
}
.social__header {
  text-align: center;
}
.social__header--name {
  font-size: 2em;
  font-weight: 900;
}
.social__header--location {
  color: #c5f82a;
  margin-block: 0.5rem 2rem;
  font-size: 1.1em;
  font-weight: 700;
}
.social__header--quote {
  font-size: 1em;
}
.social__links {
  width: 100%;
  margin-block-start: 1rem;
}
.social__links--list {
  text-indent: 0;
  padding: 0;
  list-style-type: none;
}
.social__links--list-item--link {
  color: #fff;
  text-align: center;
  background-color: #333;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.7em;
  font-size: 1em;
  font-weight: 900;
  text-decoration: none;
  display: block;
}
.social__links--list-item--link:is(:hover, :focus) {
  color: #141414;
  cursor: pointer;
  background-color: #c5f82a;
}
.footer {
  margin-top: 2rem;
}
.attribution {
  margin-inline: 2rem;
}
.attribution__content {
  flex-flow: wrap;
  justify-content: center;
  gap: 1em;
  display: flex;
}
.attribution__content--fm,
.attribution__content--ortiz {
  color: #c5f82a;
}
body {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  display: flex;
}
main {
  flex-direction: column;
  align-items: center;
  display: flex;
}
body {
  color: #fff;
  background-color: #141414;
  font-family: Inter, system-ui;
}
main {
  inline-size: 100%;
}
