// Import math functions from Sass library (assuming you have it installed)
@use 'sass:math';
@import 'reset';

@font-face {
  font-family: Inter, sans-serif;
  font-display: swap;
  src: url('../fonts/Inter-VariableFont_slnt\,wght.ttf');
}

// Define variables
$color-primary: hsl(75deg 94% 57%);
$color-secondary: hsl(0deg 0% 100%);

$color-grey-700: hsl(0deg 0% 20%);
$color-grey-800: hsl(0deg 0% 12%);
$color-grey-900: hsl(0deg 0% 8%);
$color-bg: $color-grey-900;

$space-300: pxToRem(24);
$space-200: pxToRem(16);

$radius-m: 12px;
$radius-s: 8px;

$font-family: Inter, system-ui;
$base-font-size: 16; //in px

// Define functions for converting pixel values to em and rem units
@function pxToEm($value) {
  @debug $value;
  @debug $base-font-size;
  $emValue: math.div($value, $base-font-size) + em;
  @return $emValue;
}

@function pxToRem($value) {
  $remValue: math.div($value, $base-font-size) + rem;
  @return $remValue;
}

// Define mixin for setting font properties
@mixin font($size, $weight, $line-height, $letter-spacing) {
  font-size: pxToEm($size);
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: pxToEm($letter-spacing);
}

// Define mixin for centering content flexbox
@mixin center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

@mixin center-h {
  display: flex;
  flex-direction: column;
  align-items: center;
}

%font-heading {
  @include font(24, 600, 1.5, 0);
}

%font-body {
  @include font(14, 400, 1.5, 0);
}

%font-body-bold {
  @include font(14, 700, 1.5, 0);
}
