@import 'base';

.social {
  inline-size: 100%;
  max-inline-size: pxToEm(327);
  padding: $space-300;
  background-color: $color-grey-800;
  border: 0px solid $color-grey-800;
  border-radius: $radius-m;

  &__avatar {
    max-inline-size: pxToEm(88);
    border-radius: 50%;
    margin: 0 auto;
  }
  &__header {
    margin-block-start: $space-300;
    text-align: center;
    &--name {
      @extend %font-heading;
    }
    &--location {
      color: $color-primary;
      @extend %font-body-bold;
      margin-block-end: $space-300;
    }
    &--quote {
      @extend %font-body;
    }
  }
  &__links {
    width: 100%;
    margin-block-start: $space-200;
    &--list {
      padding: 0;
      text-indent: 0;
      list-style-type: none;
      &-item--link {
        display: block;
        margin: $space-200;
        padding: 0.75em;
        color: $color-secondary;
        @extend %font-body-bold;
        text-align: center;
        text-decoration: none;
        background-color: $color-grey-700;
        border-radius: $radius-s;
      }
      &-item--link:is(:hover, :focus) {
        color: $color-grey-900;
        background-color: $color-primary;
        cursor: pointer;
      }
    }
  }
}

.footer {
  margin-top: $space-300;
}

.attribution {
  margin-inline: $space-300;

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    &--fm,
    &--ortiz {
      color: $color-primary;
    }
  }
}

@media screen and (min-width: pxToEm(600)) {
  .social {
    max-inline-size: pxToEm(384);
    padding: $space-400;
  }
}
