:root {
  --font-family: inter, system-ui;
  --space-s: 1rem;
  --space-m: 1.5rem;
  --primary: hsl(0deg 0% 100%);
  --accent: hsl(75deg 94% 57%);
  --background-accent: hsl(0deg 0% 20%);
  --background: hsl(0deg 0% 12%);
  --background-page: hsl(0deg 0% 8%);
  --title-font-size: 1.5rem;
  --title-weight: 600;
  --title-line-height: 1.5;
  --title-letter-spacing: 0;
  --body-font-size: 0.875rem;
  --body-weight: 400;
  --body-line-height: 1.5;
  --body-letter-spacing: 0;
  --body-bold-weight: 700;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
/* stylelint-disable */
#root,
#__next {
  isolation: isolate;
}

/* stylelint-enable */
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@font-face {
  font-family: Inter;
  font-display: swap;
  src: url("fonts/Inter-VariableFont_slnt,wght.ttf");
}

.container {
  display: grid;
  place-items: center;
  min-height: 100svh;
  font-family: var(--font-family);
  background-color: var(--background-page);
  color: var(--primary);
  padding: 2px;
}

.footer {
  margin-block-start: var(--space-m);
}

.social {
  inline-size: clamp(
    20.4375rem,
    20.4375rem + (24 - 20.4375) * max(0, (100vw - 37.5rem) / 0.1),
    24rem
  );
  padding: clamp(24px, 24px + (24 - 20.4375) * (100vw - 37.5rem) / 0.1, 40px);
  background-color: var(--background);
  border: 0 solid var(--background);
  border-radius: 12px;
  text-align: center;
}

.social__avatar {
  max-inline-size: 5.5rem;
  border-radius: 50%;
  margin: 0 auto;
}

.social--name {
  margin-block-start: var(--space-m);
  font-size: var(--title-font-size);
  font-weight: var(--title-weight);
  line-height: var(--title-line-height);
  letter-spacing: var(--title-letter-spacing);
}

.social--location {
  color: var(--accent);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  margin-block-end: var(--space-m);
}

.social--quote {
  font-size: var(--body-font-size);
  font-weight: var(--body-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
}

.social__links {
  width: 100%;
  margin-block-start: var(--space-s);
}

.social__links--link {
  display: block;
  margin-block: var(--space-s);
  padding: 0.75em;
  color: var(--primary);
  font-size: var(--body-font-size);
  font-weight: var(--body-bold-weight);
  line-height: var(--body-line-height);
  letter-spacing: var(--body-letter-spacing);
  text-decoration: none;
  background-color: var(--background-accent);
  border-radius: 8px;
}

.social__links--link:hover {
  color: var(--background);
  background-color: var(--accent);
  cursor: pointer;
}

.social__links--link:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

.attribution {
  text-align: center;
}

.attribution__content {
  display: flex;
  flex-direction: column;
}

.attribution__content--fm,
.attribution__content--ortiz {
  color: var(--primary);
}
