@font-face {
  font-family: Inter, sans-serif;
  src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
  font-display: swap;
}

:root {
  --green: hsl(75deg 94% 57%);
  --white: hsl(0deg 0% 100%);
  --grey-700: hsl(0deg 0% 20%);
  --grey-800: hsl(0deg 0% 12%);
  --grey-900: hsl(0deg 0% 8%);

  color: white;

  --space-300: 2em;
  --space-200: 1em;
  --space-100: 0.045em;
}

html,
body {
  font-weight: 400;
  font-family: Inter, sans-serif;
  background-color: var(--grey-900);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: var(--space-200);
  background-color: var(--grey-800);
  border: 1px solid var(--grey-800);
  border-radius: 20px;
}

.social__avatar {
  max-inline-size: 5em;
  margin-block-end: var(--space-200);
  border-radius: 50%;
}

.social__header {
  text-align: center;
}

.social__header--name {
  font-weight: 900;
  font-size: 2em;
}

.social__header--location {
  margin-block: var(--space-100) var(--space-300);
  color: var(--green);
  font-weight: 700;
  font-size: 1.1em;
}

.social__header--quote {
  font-size: 1em;
}

.social__links {
  width: 100%;
  margin-block-start: var(--space-200);
}

.social__links--list {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.social__links--list-item--link {
  display: block;
  margin: var(--space-200);
  padding: 0.7em;
  color: var(--white);
  font-weight: 900;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  background-color: var(--grey-700);
  border-radius: 5px;
}

.social__links--list-item--link:is(:hover, :focus) {
  color: var(--grey-900);
  background-color: var(--green);
  cursor: pointer;
}

.footer {
  position: relative;
  margin-block-start: 20px;
}

.footer__attribution--link {
  color: var(--green);
}

@media (width >= 26em) {
  .social {
    /* width: 300px; */
    width: 21em;
  }
}
