section.attribution
  p.attribution__content
    span Challenge by!{ ' ' }
      a.attribution__content--fm(
        href='https://www.frontendmentor.io?ref=challenge',
        target='_blank'
      ) Frontend Mentor.
    span Coded by!{ ' ' }
      a.attribution__content--ortiz(href='https://ortiz.studio') Antonio Ortiz
